.container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
 
 
.left{
    height: max-content;
    width: 30%;
    background-color: rgb(26, 158, 246);
}
  

.right{
    height: max-content;
    width: 70%;
    background-color: white;
}